{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>高校数学の教科書</title>
    <meta name="description" content="長岡先生 高校数学 教科書">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://html5-templates.com/" />
    <link rel="stylesheet" href="{% static 'wikipedia/style.css' %}">
    <script src="{% static 'wikipedia/js/vendor/modernizr-2.8.3.min.js' %}"></script>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
