{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Wikipedia Template</title>
      <meta name="description" content="長岡先生 高校数学 教科書">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="http://html5-templates.com/" />
      <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
      <!-- Place favicon.ico in the root directory -->
      <link rel="stylesheet" href="{% static 'wikipedia/style.css' %}">
      <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
  </head>

  <frameset cols="200,*">
    <frame src="{% static 'interaction.html' %}" name="left">
    </frame>
    <frame src="{% static 'main.html' %}" name="right">
    </frame>
  </frameset>

</html>
