{% extends "base.html" %}
{% load static %}

{% block content %}
  <table width="100%" height="100%">
    <tr>
      <!-- メニュー表示用のセル -->
      <td valign="top" width="200">
        <div style="height: 100%; overflow: auto">
          <div class="logo">
            <a href="/"><img src="{% static 'wikipedia/img/delphi.png' %}" alt="logo"></a>
          </div>
          <div class="navigation">
            <font size="-1">
              <ul>
                {% for subject1 in subject1s %}
                  <li><a href="{{ subject1.link }}">{{ subject1.name }}</a></li>
                {% endfor %}
              </ul>
            </font>
            <hr/>
            <font size="-1">
              {% for subject2 in subject2s %}
                <ul>
                  <li><a href="{{ subject2.link }}">{{ subject2.name }}</a></li>
                </ul>
              {% endfor %}
            </font>
          </div>
        </div>
      </td>
      <!-- コンテンツ表示用のセル -->
      <td valign="top">
        <div class="article">
          <h1>長岡先生の授業が聞ける 高校数学の教科書</h1>
          <h3>{{ login_user }}</h3>
          <div class="articleRight">
            <div class="articleRightInner">
              <img src="{% static 'wikipedia/img/pencil.jpg' alt='pencil' %}" />
            </div>
            さあ授業を始めよう！
          </div>

          {% if login_user != '' %}
            {% if lecture_item != None %}
              {{ lecture_item.name }}
              <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed/{{  lecture_item.link }}?autoplay=0" frameborder="0"></iframe>
              <br/>
            {% endif %}
            <a href="/logout">ログアウト</a>
          {% else %}
            <form method="post" action="/login">
              {% csrf_token %}
              <br>
              <input type="text" name="name">
              <input type="submit" value="登録 または ログイン">
            </form>
          {% endif %}

          {% include '_footer.html' %}
        </div>
        <div class="pagefooter">
          This page was last edited on 29.07.2017 | Template by <a href="http://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a> <!-- Please leave this link unchanged -->
          <div class="footerlinks">
            <a href="#">Privacy policy</a> <a href="#">About</a> <a href="#">Terms and conditions</a> <a href="#">Cookie statement</a> <a href="#">Developers</a>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="script.js"></script>
      </td>
    </tr>
  </table>
{% endblock %}
